/* From Uiverse.io by Z4drus */ 
.loading-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 122px);
  }
  
  .loader {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 800px;
  }
  
  .crystal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    opacity: 0;
    transform-origin: bottom center;
    transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
    animation: spin 4s linear infinite, emerge 2s ease-in-out infinite alternate,
      fadeIn 0.3s ease-out forwards;
    border-radius: 10px;
    visibility: hidden;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotateX(45deg) rotateZ(360deg);
    }
  }
  
  @keyframes emerge {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    to {
      visibility: visible;
      opacity: 0.8;
    }
  }
  
  .crystal:nth-child(1) {
    background: linear-gradient(45deg, #003366, #336699);
    animation-delay: 0s;
  }
  
  .crystal:nth-child(2) {
    background: linear-gradient(45deg, #003399, #3366cc);
    animation-delay: 0.3s;
  }
  
  .crystal:nth-child(3) {
    background: linear-gradient(45deg, #0066cc, #3399ff);
    animation-delay: 0.6s;
  }
  
  .crystal:nth-child(4) {
    background: linear-gradient(45deg, #0099ff, #66ccff);
    animation-delay: 0.9s;
  }
  
  .crystal:nth-child(5) {
    background: linear-gradient(45deg, #33ccff, #99ccff);
    animation-delay: 1.2s;
  }
  
  .crystal:nth-child(6) {
    background: linear-gradient(45deg, #66ffff, #ccffff);
    animation-delay: 1.5s;
  }









  .pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .pl__tick {
    animation-name: tick42;
  }
  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
    to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
  
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
    3%,
    47%,
    to {
      stroke-dashoffset: -12;
    }
  
    14%,
    36% {
      stroke-dashoffset: 0;
    }
  }
  